@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
footer a {
  text-decoration: none;
  padding: 2px 0;
}
footer a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h4 {
  font-size: 1rem;
}

a, ul, li, h4 {
  font-weight: 400;
  color: #fff;
}

.news-txt {
  font-weight: 400;
  color: #000;
  font-size: 1rem;
}

span {
  font-size: 1.1rem;
  padding: 15px;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
}
span .btn-1 {
  background-color: #4081d6;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  margin-top: 20px;
}

.header-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 20px;
}
.header-top img {
  width: 400px;
  height: auto;
}
.header-top .search {
  display: flex;
  flex: 1;
  margin-left: 20px;
  order: 1;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #e6e6e6;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header-top .search input {
  width: 100%;
  padding: 10px;
  border: none;
}
.header-top .search .submit {
  background: none;
  border: none;
  cursor: pointer;
  padding-left: 10px;
}
.header-top .search .submit svg {
  width: 24px;
  height: 24px;
  fill: #000;
}

main {
  margin: 0 auto;
}

.icon-star {
  font-size: 48px;
  color: #ffa600;
}

.grid {
  width: 95%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  grid-template-areas: "card-1" "card-2" "card-3" "card-4" "card-5" "card-6" "card-7";
}
.grid a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #000;
  padding: 1.5em 1em;
  border: 1px solid #ccc;
  border-radius: 10px;
  letter-spacing: 0.4px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.07);
  text-align: center;
}
.card .circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .circle .icon {
  font-size: 35px;
  color: #fff;
}
.card h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  font-weight: 400;
}
.card p {
  font-size: 0.8rem;
  line-height: 1.5;
}

.about {
  background-color: #323544;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}
.welcome h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}
.welcome p {
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  max-width: 800px;
}
.welcome .buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 20px;
  border-radius: 4px;
  gap: 10px;
  margin-top: 20px;
  white-space: nowrap;
}
.welcome .buttons a {
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 20px 40px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 500;
}
.welcome .bold {
  font-weight: 700;
}

figure {
  margin: 0;
}
figure blockquote {
  margin: 20px 0;
  font-style: italic;
}
figure blockquote .quote {
  font-size: 20px;
  line-height: 1.5;
}

.culture {
  background-color: #272936;
}
.culture:hover {
  background-color: #101218;
}

.google {
  background-color: #4081d6;
}
.google:hover {
  background-color: #0464e2;
}

.trustpilot {
  background-color: #00b67b;
}
.trustpilot:hover {
  background-color: #018a5e;
}

footer {
  background-color: #323544;
  color: #fff;
  position: relative;
  width: 100vw;
  padding: 30px 0 0;
}
footer .footer-top {
  padding-left: 20px;
}
footer .footer-top img {
  filter: brightness(0) invert(1);
  width: 320px;
}
footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 1.57;
  padding-left: 20px;
}
footer .footer-row .footer-menu {
  flex: 100%;
  margin-bottom: 5px;
  font-weight: 200;
}
@media (min-width: 768px) {
  footer .footer-row .footer-menu {
    flex: 50%;
  }
}
@media (min-width: 992px) {
  footer .footer-row .footer-menu {
    flex: 25%;
  }
}
@media (min-width: 1200px) {
  footer .footer-row .footer-menu {
    margin-bottom: 40px;
  }
}
footer .footer-row .footer-menu h4 {
  text-transform: uppercase;
  margin-bottom: 26px;
}

.footer-bottom {
  background-color: #212330;
  color: #fff;
  width: 100vw;
}
.footer-bottom p {
  padding: 0 20px;
  font-size: 12px;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  max-width: 240px;
}
.social-icons button {
  background: #212330;
  border: none;
  cursor: pointer;
  margin: 0 5px 10px 5px;
  padding: 15px 40px;
}
.social-icons button .icon {
  font-size: 30px;
  color: #fff;
}

.icon-footer-facebook:hover {
  background-color: #3a5594;
}
.icon-footer-linkedin:hover {
  background-color: #0075b0;
}
.icon-footer-instagram:hover {
  background-color: #d90d7d;
}
.icon-footer-x:hover {
  background-color: #0fb9f7;
}

.support, .contact {
  display: none;
  flex-wrap: wrap;
}

.header-top button {
  border: none;
}
.header-top button svg {
  width: 32px;
  height: 32px;
  fill: #000;
}

.phone {
  background: none;
}

.menu {
  background-color: #212330;
}
.menu-icon {
  filter: brightness(0) invert(1);
}

.card-1 .btn, .circle-1, .news-1 {
  background-color: #67809e;
}

.card-2 .btn, .circle-2, .news-2 {
  background-color: #4081d6;
}

.card-3 .btn, .circle-3, .news-3 {
  background-color: #2fcc70;
}

.card-4 .btn, .circle-4, .news-4 {
  background-color: #d64540;
}

.card-5 .btn, .circle-5, .news-5 {
  background-color: #926fb0;
}

.card-6 .btn, .circle-6, .news-6 {
  background-color: #f52559;
}

.card-7 .btn, .circle-7, .news-7 {
  background-color: #cf4125;
}

.card-8 .btn, .circle-8, .news-8 {
  background-color: #f7b423;
}

.card-9 .btn, .circle-9, .news-9 {
  background-color: #00b57c;
}

.card-1 {
  grid-area: card-1;
}

.card-2 {
  grid-area: card-2;
}

.card-3 {
  grid-area: card-3;
}

.card-4 {
  grid-area: card-4;
}

.card-5 {
  grid-area: card-5;
}

.card-6 {
  grid-area: card-6;
}

.card-7 {
  grid-area: card-7;
}

/*# sourceMappingURL=style.css.map */
