@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.card--1:hover {
  background-color: #67809e;
  top: -10px;
  color: #fff;
}
.card--1:hover .circle-1 {
  background-color: #fff;
}
.card--1:hover .circle-1 i {
  color: #67809e;
}
.card--1:hover .btn-1 {
  color: #67809e;
  background-color: #fff;
}

.navbar__item--1:hover {
  background-color: #67809e;
}
.navbar__item--1:hover i {
  color: #fff;
}

.circle-1 {
  background-color: #67809e;
}

.dropdown__item--1 {
  background-color: rgb(81.8072289157, 102.8915662651, 128.1927710843);
}

.navicon-1 {
  color: #67809e;
}

.triangle--1::after {
  border-color: #67809e transparent transparent transparent;
}

.card--2:hover {
  background-color: #4081d6;
  top: -10px;
  color: #fff;
}
.card--2:hover .circle-2 {
  background-color: #fff;
}
.card--2:hover .circle-2 i {
  color: #4081d6;
}
.card--2:hover .btn-2 {
  color: #4081d6;
  background-color: #fff;
}

.navbar__item--2:hover {
  background-color: #4081d6;
}
.navbar__item--2:hover i {
  color: #fff;
}

.circle-2 {
  background-color: #4081d6;
}

.dropdown__item--2 {
  background-color: rgb(40.1163793103, 103.7155172414, 186.8836206897);
}

.navicon-2 {
  color: #4081d6;
}

.triangle--2::after {
  border-color: #4081d6 transparent transparent transparent;
}

.card--3:hover {
  background-color: #2fcc70;
  top: -10px;
  color: #fff;
}
.card--3:hover .circle-3 {
  background-color: #fff;
}
.card--3:hover .circle-3 i {
  color: #2fcc70;
}
.card--3:hover .btn-3 {
  color: #2fcc70;
  background-color: #fff;
}

.navbar__item--3:hover {
  background-color: #2fcc70;
}
.navbar__item--3:hover i {
  color: #fff;
}

.circle-3 {
  background-color: #2fcc70;
}

.dropdown__item--3 {
  background-color: rgb(37.4501992032, 162.5498007968, 89.2430278884);
}

.navicon-3 {
  color: #2fcc70;
}

.triangle--3::after {
  border-color: #2fcc70 transparent transparent transparent;
}

.card--4:hover {
  background-color: #d64540;
  top: -10px;
  color: #fff;
}
.card--4:hover .circle-4 {
  background-color: #fff;
}
.card--4:hover .circle-4 i {
  color: #d64540;
}
.card--4:hover .btn-4 {
  color: #d64540;
  background-color: #fff;
}

.navbar__item--4:hover {
  background-color: #d64540;
}
.navbar__item--4:hover i {
  color: #fff;
}

.circle-4 {
  background-color: #d64540;
}

.dropdown__item--4 {
  background-color: rgb(186.8836206897, 45.0086206897, 40.1163793103);
}

.navicon-4 {
  color: #d64540;
}

.triangle--4::after {
  border-color: #d64540 transparent transparent transparent;
}

.card--5:hover {
  background-color: #926fb0;
  top: -10px;
  color: #fff;
}
.card--5:hover .circle-5 {
  background-color: #fff;
}
.card--5:hover .circle-5 i {
  color: #926fb0;
}
.card--5:hover .btn-5 {
  color: #926fb0;
  background-color: #fff;
}

.navbar__item--5:hover {
  background-color: #926fb0;
}
.navbar__item--5:hover i {
  color: #fff;
}

.circle-5 {
  background-color: #926fb0;
}

.dropdown__item--5 {
  background-color: rgb(120.6457399103, 83.6053811659, 152.3946188341);
}

.navicon-5 {
  color: #926fb0;
}

.triangle--5::after {
  border-color: #926fb0 transparent transparent transparent;
}

.card--6:hover {
  background-color: #f52559;
  top: -10px;
  color: #fff;
}
.card--6:hover .circle-6 {
  background-color: #fff;
}
.card--6:hover .circle-6 i {
  color: #f52559;
}
.card--6:hover .btn-6 {
  color: #f52559;
  background-color: #fff;
}

.navbar__item--6:hover {
  background-color: #f52559;
}
.navbar__item--6:hover i {
  color: #fff;
}

.circle-6 {
  background-color: #f52559;
}

.dropdown__item--6 {
  background-color: rgb(220.8684210526, 10.1315789474, 62.8157894737);
}

.navicon-6 {
  color: #f52559;
}

.triangle--6::after {
  border-color: #f52559 transparent transparent transparent;
}

.card--7:hover {
  background-color: #cf4125;
  top: -10px;
  color: #fff;
}
.card--7:hover .circle-7 {
  background-color: #fff;
}
.card--7:hover .circle-7 i {
  color: #cf4125;
}
.card--7:hover .btn-7 {
  color: #cf4125;
  background-color: #fff;
}

.navbar__item--7:hover {
  background-color: #cf4125;
}
.navbar__item--7:hover i {
  color: #fff;
}

.circle-7 {
  background-color: #cf4125;
}

.dropdown__item--7 {
  background-color: rgb(163.7336065574, 51.4139344262, 29.2663934426);
}

.navicon-7 {
  color: #cf4125;
}

.triangle--7::after {
  border-color: #cf4125 transparent transparent transparent;
}

.btn-1 {
  background-color: #f7b423;
}

.btn-2 {
  background-color: #4081d6;
}

.btn-3 {
  background-color: #2fcc70;
}

.btn-4 {
  background-color: #d64540;
}

.btn-5 {
  background-color: #926fb0;
}

.btn-6 {
  background-color: #f52559;
}

.btn-7 {
  background-color: #cf4125;
}

.hover-btn-1:hover {
  background-color: rgb(222.8947368421, 155.0131578947, 8.1052631579);
}

.hover-btn-2:hover {
  background-color: rgb(40.1163793103, 103.7155172414, 186.8836206897);
}

.hover-btn-3:hover {
  background-color: rgb(37.4501992032, 162.5498007968, 89.2430278884);
}

.hover-btn-5:hover {
  background-color: rgb(120.6457399103, 83.6053811659, 152.3946188341);
}

.card--1 {
  grid-column: span 12;
}

.card--2 {
  grid-column: span 12;
}

.card--3 {
  grid-column: span 12;
}

.card--4 {
  grid-column: span 12;
}

.card--5 {
  grid-column: span 12;
}

.card--6 {
  grid-column: span 12;
}

.card--7 {
  grid-column: span 12;
}

.footer__row a, .footer__bottom p a {
  text-decoration: none;
  padding: 2px 0;
}
.footer__row a:hover, .footer__bottom p a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h4 {
  font-size: 1rem;
}

a, ul, li, h4 {
  font-weight: 400;
  color: #fff;
}

.news-txt {
  font-size: 1rem;
  font-weight: 400;
  color: #000;
}

.view {
  padding-top: 30px;
  color: #333645;
  font-size: 1.6875rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .view {
    display: none;
  }
}
.view--right {
  display: none;
  font-size: 2.25rem;
}
@media (min-width: 768px) {
  .view--right {
    display: block;
  }
}
.view--last {
  padding-top: 0;
}
.view:hover {
  text-decoration: underline;
}

#service {
  font-size: 2.6875rem;
  font-weight: 400;
}

#latest-news {
  font-size: 2.25rem;
  font-weight: 600;
  margin-top: 30px;
}

small {
  font-size: 0.625rem;
  padding-top: 10px;
}

.bold {
  font-weight: 600;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
}
@media (min-width: 480px) {
  .social-icons {
    max-width: 400px;
  }
}
.social-icons a {
  background-color: rgb(33.66, 35.64, 45.54);
  border: none;
  cursor: pointer;
  padding: 15px 40px;
  margin: 0 5px 10px 5px;
}
@media (min-width: 480px) {
  .social-icons a {
    padding: 12px 18px;
  }
}
.social-icons a .icon {
  font-size: 1.875rem;
  color: #fff;
}

.icon-footer-facebook:hover {
  background-color: #3a5594;
}
.icon-footer-linkedin:hover {
  background-color: #0075b0;
}
.icon-footer-instagram:hover {
  background-color: #d90d7d;
}
.icon-footer-x:hover {
  background-color: #0fb9f7;
}

.icon-star {
  font-size: 3rem;
  color: #ffa600;
}

.btn {
  padding: 15px;
  margin: auto 0 0 0;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  border-radius: 3px;
  font-size: 1.1rem;
}

html, body {
  margin: 0 auto;
  overflow-x: hidden;
  letter-spacing: 0.4px;
}

main {
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 758px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 982px;
  }
}
@media (min-width: 1260px) {
  .container {
    max-width: 1250px;
  }
}
.container__dropdown {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-transform: none;
}
.container__dropdown h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  grid-column: 1/-1;
}
.container__news {
  padding: 0;
  margin-bottom: 30px;
  transition: transform 0.5s ease;
}
.container__news:hover {
  transform: translateY(-10px);
}
.container__news--mq {
  width: 100%;
  justify-content: space-between;
  padding: 0;
}
@media (min-width: 768px) {
  .container__news--mq {
    flex-direction: row;
    gap: 20px;
  }
}
.container__footer {
  background-color: #333645;
}
.container__ul {
  flex-direction: row;
  padding: 0;
  line-height: 1;
}
.container__bottom {
  width: 100vw;
  background-color: rgb(33.66, 35.64, 45.54);
}
.container__image {
  padding: 0;
}
.container__image img {
  width: 100%;
  height: auto;
}

.stars {
  margin: 25px 0;
}

.headings {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

@media (min-width: 992px) {
  .about .container {
    flex-direction: row;
    column-gap: 40px;
  }
}
.header__top {
  display: grid;
  grid-template-columns: minmax(100px, 400px) 1fr;
  grid-gap: 20px 0;
  width: 100%;
  height: auto;
  align-items: center;
  font-size: 1.5rem;
  margin: 20px 0;
}
@media (min-width: 768px) {
  .header__top {
    grid-gap: 0 60px;
  }
}
.header__top img {
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .header__top img {
    max-width: 375px;
  }
}
.header__top .icon-phonetalk {
  color: #000;
}

.items {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.items button {
  padding: 0 0 9px 16px;
  font-size: 1.125rem;
  border: none;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .items button {
    padding: 14px 20px;
  }
}
.items .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 63px;
  height: 55px;
  padding: 15px;
  background-color: #333645;
}
.items .menu span {
  width: 100%;
  height: 4px;
  background-color: #fff;
}
.items .menu:hover {
  background-color: rgb(24.99, 26.46, 33.81);
}

.phone {
  font-size: 2rem;
  background-color: transparent;
}
.phone:hover {
  text-decoration: underline;
}

.contact, .btn-search {
  background-color: #999ba3;
}
.contact:hover, .btn-search:hover {
  background-color: rgb(126.1855670103, 128.7113402062, 138.8144329897);
}

.support i, .contact i {
  padding-right: 5px;
}

.search {
  display: flex;
}
.search-1 input {
  outline: none;
  padding-left: 10px;
  border: 1px solid #ccc;
}
.search-1 input:focus {
  border-color: #5bbfde;
  box-shadow: 0 0 5px 3px rgba(91, 191, 222, 0.2);
}
.search-1 button {
  padding: 11px 19px 6px;
  font-size: 1.5625rem;
  border-radius: 0 4px 4px 0;
}
@media (min-width: 992px) {
  .search-1 button {
    border-radius: 4px;
  }
}
@media (min-width: 1260px) {
  .search-1 button {
    border-radius: 0 4px 4px 0;
  }
}
.search-2 {
  grid-column: 1/-1;
  border: 2px solid #ccc;
  border-radius: 2px;
}
.search-2 input {
  width: 100%;
  height: auto;
  padding-left: 10px;
  background-color: #e6e6e6;
  border: none;
  outline: none;
}
.search-2 button {
  font-size: 1rem;
  padding: 10px 10px;
  border: none;
  background-color: #e6e6e6;
  cursor: pointer;
}

.support, .contact, .search-1 {
  display: none;
}

@media (min-width: 768px) {
  .search-1 {
    display: flex;
  }
  .search-2, .phone {
    display: none;
  }
}
@media (min-width: 992px) {
  .support, .contact {
    display: block;
  }
  .hidden-m {
    display: none;
  }
}
@media (min-width: 1260px) {
  .hidden-m {
    display: block;
    width: 240px;
  }
}
nav {
  display: none;
  width: 100vw;
  background-color: #333645;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  nav {
    display: flex;
  }
}

.navbar {
  width: 14.2857142857%;
  height: 100%;
}
.navbar i {
  font-size: 1.5rem;
}
.navbar a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px 15px;
  font-size: 1.125rem;
}

.navbar:hover .dropdown {
  display: grid;
}
.navbar:hover .triangle {
  position: relative;
}
.navbar:hover .triangle::after {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 38px 70.14px 0 70.14px;
  z-index: 10;
  top: 119px;
  left: 70px;
}
@media (min-width: 1260px) {
  .navbar:hover .triangle::after {
    border-width: 38px 89.28px 0 89.28px;
    top: 101px;
    left: 90px;
  }
}

.dropdown {
  width: 100%;
  height: auto;
  display: none;
  position: absolute;
  top: 243px;
  left: 0;
  z-index: 3;
  padding: 20px 10px 40px;
}
@media (min-width: 1260px) {
  .dropdown {
    top: 225px;
  }
}
.dropdown a {
  padding: 10px 0;
  flex-direction: row;
  min-width: 300px;
  text-align: left;
}
.dropdown a span {
  padding: 10px;
}
.dropdown span:hover {
  text-decoration: underline;
}

@media (min-width: 992px) {
  .hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, #000 0, transparent 85%);
    z-index: 2;
  }
}
.hero {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 550px;
  position: relative;
}

.hero img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  filter: brightness(50%);
}
@media (min-width: 992px) {
  .hero img {
    filter: none;
  }
}

.hero__txt {
  color: #fff;
  text-align: center;
  z-index: 2;
  line-height: 1.2;
}
@media (min-width: 992px) {
  .hero__txt {
    display: flex;
    align-items: flex-start;
    text-align: left;
  }
}
.hero__txt h1 {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}
@media (min-width: 992px) {
  .hero__txt h1 {
    font-size: 4rem;
    margin: 10px 0;
  }
}
.hero__txt h2 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 30px;
}
@media (min-width: 992px) {
  .hero__txt h2 {
    width: 750px;
    height: auto;
    font-size: 1.625rem;
  }
}

.hero__btn {
  font-size: 1.25rem;
  padding: 20px;
}

.grid {
  max-width: 718px;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 30px;
}
@media (min-width: 768px) {
  .grid .card--4, .grid .card--5, .grid .card--6, .grid .card--7 {
    grid-column: span 6;
  }
}
@media (min-width: 992px) {
  .grid {
    max-width: 942px;
  }
  .grid .card--1, .grid .card--2, .grid .card--3 {
    grid-column: span 4;
  }
}
@media (min-width: 1260px) {
  .grid {
    max-width: 1210px;
  }
  .grid .card--4, .grid .card--5, .grid .card--6, .grid .card--7 {
    grid-column: span 3;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  padding: 30px;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.07);
  transition: 0.5s ease;
  top: 0;
}
.card h2 {
  font-size: 1.3rem;
  font-weight: 400;
}
.card p {
  font-size: 0.8rem;
  line-height: 1.5;
  padding: 0 5px;
  margin: 0 0 20px 0;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.circle .icon {
  font-size: 2.1875rem;
  color: #fff;
}

h1 {
  color: #333645;
}

.imageline {
  display: flex;
  align-items: center;
}
.imageline img {
  filter: grayscale(100%);
  margin: 60px 45px 40px;
  max-height: 80px;
  max-width: 200px;
}
.imageline img:hover {
  filter: none;
}

.image-card {
  display: flex;
  align-items: center;
  position: relative;
  width: auto;
  height: 180px;
}

.hover-txt {
  display: grid;
  position: absolute;
  left: 50%;
  bottom: 80%;
  transform: translate(-50%, -50px);
  width: 300px;
  height: auto;
  background-color: #333645;
  color: #fff;
  padding: 20px;
  text-align: center;
  opacity: 0;
  transition: 0.1s ease;
  font-size: 0.875rem;
  pointer-events: none;
}
.hover-txt h2 {
  margin: 0;
}
.hover-txt::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  border-style: solid;
  border-color: transparent transparent #333645 transparent;
  border-width: 0 40px 50px 40px;
}

.image-card:hover .hover-txt {
  opacity: 1;
  pointer-events: auto;
}

b {
  cursor: pointer;
}
b:hover {
  text-decoration: underline;
}

.about {
  background-color: #333645;
  color: #fff;
  padding-top: 40px;
}

.welcome {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .welcome {
    width: 455px;
  }
}
@media (min-width: 1260px) {
  .welcome {
    width: 600px;
  }
}
.welcome h2 {
  font-size: 2.25rem;
  font-weight: 600;
  margin: 0;
}
.welcome p {
  font-size: 1rem;
  line-height: 1.9;
  margin: 12px 0;
}
.welcome .buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 4px;
  gap: 10px;
  margin: 20px 0 40px 0;
  white-space: nowrap;
}
.welcome .buttons a {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 15px 30px;
}
.welcome-link {
  font-weight: 600;
}
.welcome-link:hover {
  text-decoration: underline;
}

figure {
  margin: 0;
  padding-bottom: 20px;
}

blockquote {
  margin: 20px 0;
  font-style: italic;
}
blockquote .quote {
  font-size: 21px;
  font-weight: 600;
  line-height: 1.5;
}

figcaption {
  font-size: 1.125rem;
}
figcaption a {
  font-weight: 600;
}
figcaption a:hover {
  cursor: pointer;
  text-decoration: underline;
}

strong {
  color: #a3a8ac;
  font-weight: 600;
}

.culture {
  background-color: rgb(40.1625, 42.525, 54.3375);
}
.culture:hover {
  background-color: rgb(24.99, 26.46, 33.81);
}

.trustpilot {
  background-color: #00b67b;
}
.trustpilot:hover {
  background-color: rgb(0, 131, 88.532967033);
}

.news-txt {
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.07);
  padding: 30px;
  height: 350px;
}
.content h3 {
  margin: 0;
  font-size: 1rem;
}
.content p {
  font-size: 0.8125rem;
}
.content--insights h3 {
  color: #67809e;
}
.content--careers h3 {
  color: #4081d6;
}

.news-author {
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.avatar {
  padding-right: 20px;
}
.avatar img {
  border-radius: 50%;
}

.details p {
  margin: 5px;
}

.btn__news {
  width: fit-content;
  padding: 10px 15px;
  margin: auto 0 20px;
}

.tag {
  position: absolute;
  right: 0;
  top: 2%;
  color: #fff;
  padding: 0 10px;
  text-transform: uppercase;
  border-radius: 2px 0 0 2px;
  font-size: 0.75rem;
  line-height: 1.5rem;
}
.tag--insights {
  background-color: #67809e;
}
.tag--careers {
  background-color: #4081d6;
}

@media (min-width: 768px) {
  .news--hidden {
    display: none;
  }
}
@media (min-width: 1260px) {
  .news--hidden {
    display: flex;
  }
}
footer {
  padding: 30px 0 0;
  width: 100%;
  height: auto;
}
@media (min-width: 1260px) {
  footer {
    display: flex;
    column-gap: 60px;
  }
}
footer .footer__top {
  margin-top: 10px;
}
footer .footer__top img {
  filter: brightness(0) invert(1);
  width: 320px;
}
footer .footer__row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  font-size: 0.875rem;
  line-height: 1.57;
  padding-bottom: 20px;
}
footer .footer__row .footer__menu {
  flex: 100%;
  margin-bottom: 5px;
  font-weight: 200;
}
@media (min-width: 768px) {
  footer .footer__row .footer__menu {
    flex: 50%;
  }
}
@media (min-width: 992px) {
  footer .footer__row .footer__menu {
    flex: 25%;
  }
}
@media (min-width: 1260px) {
  footer .footer__row .footer__menu {
    margin-bottom: 40px;
  }
}
footer .footer__row .footer__menu h4 {
  text-transform: uppercase;
  margin-bottom: 26px;
}

.footer__bottom p {
  align-self: flex-start;
  padding: 5px;
  font-size: 0.75rem;
  color: #fff;
  z-index: 11;
}

.footer__fixed {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
  z-index: 10;
  background-color: transparent;
}
.footer__fixed a {
  padding: 0 5px;
  margin: auto 0 0 0;
  background-color: #999ba3;
  border-radius: 0 8px 0 0;
}
.footer__fixed a:hover {
  background-color: rgb(126.1855670103, 128.7113402062, 138.8144329897);
}

.circle__fixed {
  background-color: rgb(33.66, 35.64, 45.54);
  cursor: pointer;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  margin: 20px;
}
.circle__fixed:active {
  transform: scale(0.9);
}

/*# sourceMappingURL=style.css.map */
