// General layout
.contactinfo, .input-control {
    @include flex(column);
}

.checkbox, .submit {
    display: flex;
}

// Form
#contactform {
    background-color: #e6e7e9;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 50px;
    color: $primary--background;

    label {
        font-weight: 600;
    }

    .input-control {
        //STYLES FOR THE CONTENT/ DISPLAYS USING JAVASCRIPT
        &.success input, &.success textarea {
            border: 3px solid #09c372;
        }

        &.error input, &.error textarea {
            border: 3px solid red;
        }
    }

    .checkbox {
        a {
            color: $primary--background;
            text-decoration: underline;
            font-weight: 600;
        }
    }
}


// accordion
.dropbox {
    max-height: 0;            
    overflow: hidden;
    transition: max-height 0.8s ease;
}

.dropbox.open {
    max-height: 220px;    
}