$colors-logo: (
    $primary--grey,
    $primary--blue,
    $primary--green,
    $primary--red,
    $primary--purple,
    $primary--pink,
    $primary--brickred,  
);

@for $i from 1 through length($colors-logo) {
    // GRID CARD HOVER

    .card--#{$i}:hover {
        background-color: nth($colors-logo, $i);
        top: -10px;
        transition: 0.5s ease;
        color: $white;
    
        .circle-#{$i} {
            background-color: $white;
            
            i {
                color: nth($colors-logo, $i);
            }
        }

        .btn-#{$i} {
            color: nth($colors-logo, $i);
            background-color: $white;
        }
    }

    //NAVBAR HOVER

    .navbar__item--#{$i}:hover {
        background-color: nth($colors-logo, $i);

        i {
            color: $white;
        }
    }

    //GRID ICON LOGOS

    .circle-#{$i} {
        background-color: nth($colors-logo, $i);
    }

    //DROPDOWN BACKGROUND
    
    .dropdown__item--#{$i} {
        background-color: darken(nth($colors-logo, $i), 10%);
    }

    .navicon-#{$i} {
        color: nth($colors-logo, $i);
    }

    //DROPDOWN TRIANGLE

    .dropdown__item--#{$i}::before {
        border-color: transparent transparent nth($colors-logo, $i) transparent;
        top: -68%;
        left: calc(50vw + (140px * #{$i}) - 580px); 
        
        @include mq(lg) {
            left: calc(50vw + (178.5px * #{$i}) - 730px);
        }
    }
}

$colors-button: (
    $primary--yellow,
    $primary--blue,
    $primary--green,
    $primary--red,
    $primary--purple,
    $primary--pink,
    $primary--brickred, 
);

@for $i from 1 through length($colors-button) {
    .btn-#{$i} {
        background-color: nth($colors-button, $i);
    }
}

//OTHER BUTTONS ELSEWHERE WITH SAME COLORS

$hover-btns: (1, 2, 3, 5);

@each $i in $hover-btns {
    .hover-btn-#{$i}:hover {
        background-color: darken(nth($colors-button, $i), 10%);
    }
}

// GRID LAYOUT 

$cards: (
    card--1,
    card--2,
    card--3,
    card--4,
    card--5,
    card--6,
    card--7
);

@each $key in $cards {
    .#{$key} {
        grid-column: span 12;
    }
}