$white: #fff;
$black: #000;
$lightgrey: #ccc;
$lightergrey: #e6e6e6;

$facebook: #3a5594;
$linkedin: #0075b0;
$instagram: #d90d7d;
$x: #0fb9f7;
$star: #ffa600;
$trustpilot: #00b67b;
$trustpilot__dark: darken($trustpilot, 10%);

$primary--background: #333645;
$primary--background__dark: darken($primary--background, 5%);
$primary--background__darker: darken($primary--background, 8%);
$primary--background__darkest: darken($primary--background, 12%);

$primary--grey: #67809e;
$primary--blue: #4081d6;
$primary--green: #2fcc70;
$primary--red: #d64540;
$primary--purple: #926fb0;
$primary--pink: #f52559;
$primary--brickred: #cf4125;
$primary--yellow: #f7b423;

$button--grey: #999ba3;
$button--grey__dark: darken($button--grey, 10%);