html, body {
    margin: 0 auto;
    overflow-x: hidden;
    letter-spacing: 0.4px;
}

main {
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

//MAIN CONTAINER

.container {
    @include flex(column, center, center);
    @include spacing(0 15px, 0 auto);
    @include size(100%, auto);

    @include mq(sm) {
        max-width: 758px;
    }

    @include mq(md) {
        max-width: 982px;
    }

    @include mq(lg) {
        max-width: 1250px;
    }

    // DROPDOWN CONTAINER
    &__dropdown {
        @include grid(repeat(3, 1fr));
        text-transform: none;

        h1 {
            color: $white;
            @include font(2rem, 500);
            grid-column: 1 / -1;
        }
    }

    // NEWS CARDS CONTAINER
    &__news {
        padding: 0;
        margin-bottom: 30px;
        transition: transform .5s ease;

        &:hover {
            transform: translateY(-10px);
        }

        &--mq {
            width: 100%;
            justify-content: space-between;
            padding: 0;

            @include mq(sm) {
                flex-direction: row;
                gap: 20px;
            }
        }
    }

    //FOOTER CONTAINER
    &__footer {
        background-color: $primary--background;
    }

    //DROPDOWN LIST CONTAINER
    &__ul {
        flex-direction: row;
        padding: 0;
        line-height: 1;
    }

    //COPYRIGHT SECTION AT THE BOTTOM OF THE FOOTER CONTAINER
    &__bottom {
        @include size(100vw);
        background-color: $primary--background__darker;
    }

    //NEWS IMAGES CONTAINERS 
    &__image {
        padding: 0;

        img {
            @include size(100%, auto);
        }
    }
}

//STARS CONTAINER
.stars {
    margin: 25px 0;
}

//HEADINGS FOR SERVICES AND NEWS SECTIONS
.headings {
    @include flex(null, null, space-between);
    @include size(100%, auto);
}

//WELCOME SECTION CONTAINER 
@include mq(md) {
    .about .container {
        flex-direction: row;
        column-gap: 40px;
    }
}