footer {
    padding: 30px 0 0;
    width: 100%;

    @media (min-width: 1260px) {
        display: flex;
        column-gap: 60px;
    }

    .footer-top {
        padding-left: 20px;
        margin-top: 10px;

        img {
            filter: brightness(0) invert(1);
            width: 320px;
        }
    }

    .footer-row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        font-size: 14px;
        line-height: 1.57;
        padding: 0 0 30px 20px;

        .footer-menu {
            flex: 100%;
            margin-bottom: 5px;
            font-weight: 200;

            @media (min-width: 768px) {
                flex: 50%;
            }

            @media (min-width: 992px) {
                flex: 25%;
            }

            @media (min-width: 1260px) {
                margin-bottom: 40px;
            }

            h4 {
                text-transform: uppercase;
                margin-bottom: 26px;
            }
        }
    }
}

.footer-bottom {
    background-color: #212330;
    width: 100%;
    
    p {
        align-self: flex-start;
        padding: 5px;
        font-size: 12px;
    }
}
