.grid {
    max-width: 718px;
    @include grid(repeat(12, minmax(0, 1fr)), 30px);
   
    @include mq(sm) { 
        .card--4, .card--5, .card--6, .card--7 {
            grid-column: span 6;
        }
    }

    @include mq(md) {
        max-width: 942px;
        .card--1, .card--2, .card--3 {
            grid-column: span 4;
        }
    }

    @include mq(lg) {
        max-width: 1210px;
        .card--4, .card--5, .card--6, .card--7 {
            grid-column: span 3;
        }
    }
}

.card {
    @include flex(column, center, null, null);
    position: relative;
    text-align: center;
    padding: 30px;
    color: $black;
    border: 1px solid $lightgrey;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.07);
    top: 0;
    
    h2 {
        font-size: 1.3rem;
        font-weight: 400;
    }

    p {
        font-size: 0.8rem;
        line-height: 1.5;
        margin-bottom: 20px;
    } 
}

.circle {
    @include flex(null, center, center, null);
    @include size(70px, 70px);
    border-radius: 50%;

    .icon {
        font-size: 35px;
        color: $white;
    }
}

h1 {
    color: $primary--background;
}