//MAIN CONTAINER

.header__top {
    @include grid(minmax(100px, 400px) 1fr, 20px 0, center);
    @include size(100%, auto);
    align-items: center;
    font-size: 1.5rem;
    margin: 20px 0;

    @include mq(sm) {
        grid-gap: 0 60px;
    }

    img {
        cursor: pointer;
        width: 100%;
        max-width: 400px; 
        margin-top: 10px;

        @include mq(sm) {
            max-width: 375px;
        }
    } 

    .icon-phonetalk {
        color: $black;
    }
}

// ITEMS ON THE RIGHT

.items {
    @include flex(null, null, flex-end);
    gap: 20px;

    button {
        padding: 0 0 9px 16px;
        font-size: px-to-rem(18);
        border: none;
        border-radius: 4px;

        @include mq(sm) {
            padding: 14px 20px;
        }
    }


    .menu {
        @include size(63px, 55px);
        padding: 15px;
        background-color: $primary--background;
        position: relative;

        span {
            position: absolute;
            left: 16.5px;
            width: 30px;
            height: 4px;
            margin-top: 15px;
            background-color: $white;
            transition: all 0.3s ease;
            transform-origin: center;
        }

        span:nth-child(1) {
            top: 0;
        }

        span:nth-child(2) {
            top: 10px;
        }

        span:nth-child(3) {
            top: 20px;
        }

        //Step 1 : Collapse in the center
        &.collapse span:nth-child(1),
        &.collapse span:nth-child(3) {
            top: 10px;            // move to middle
            transform: scaleX(0); // shrink
        }

        //Step 2 : Rotate the middle one
        &.rotate span {
            transform: rotate(180deg);
        }

        //Step 3 : Form the X
        &.open span {
            transition: all 0.3s ease;
            top: 10px;
        }

        &.open span:nth-child(1) {
            transform: rotate(135deg);
        }

        &.open span:nth-child(2) {
            transform: rotate(225deg);
        }

        &.open span:nth-child(3) {
            display: none;
        }

        &:hover {
            background-color: $primary--background__darkest;
        }
    }
}

.phone {
    font-size: 2rem;
    background-color: transparent;

    &:hover {
        text-decoration: underline;
    }
}

.contact, .btn-search {
    background-color: $button--grey;

    &:hover {
        background-color: $button--grey__dark;
    }
}

.support, .contact {

    i  {
        padding-right: 5px;
    }
}

.search {
    display: flex;

    &-1 {
        input {
            outline: none;
            padding-left: 10px;
            border: 1px solid $lightgrey;

            &:focus {
                border-color: $searchfocus;
                box-shadow: 0 0 5px 3px rgba(91, 191, 222, 0.2);
            }
        }


        button {
            padding: 11px 19px 6px;
            font-size: px-to-rem(25);
            border-radius: 0 4px 4px 0;
            

            @include mq(md) {
                border-radius: 4px;
            }

            @include mq(lg) {
                border-radius: 0 4px 4px 0;
            }
        }
    }

    &-2 {
        grid-column: 1 / -1;
        border: 2px solid $lightgrey;
        border-radius: 2px;
    
        input {
            @include size(100%, auto);
            padding-left: 10px;
            background-color: $lightergrey;
            border: none;
            outline: none;
        }

        button {
            font-size: 1rem;
            padding: 10px 10px;
            border: none;
            background-color: $lightergrey;
            cursor: pointer;
        }
    }
} 

.support, .contact, .search-1 {
    display: none;
}

// MEDIA QUERIES

@include mq(sm) {
    .search-1 {
        display: flex;
    }

    .search-2, .phone {
        display: none;
    }
}

@include mq(md) {
    .support, .contact {
        display: block;
    }

    .hidden-m {
        display: none;
    }
}

@include mq(lg) {
    .hidden-m {
        display: block;
        width: 240px;
    }
}