.header__top {
    @include grid(minmax(100px, 400px) 1fr, 20px 0, center);
    @include size(100%, auto);
    align-items: center;
    font-size: 24px;
    margin: 20px 0;

    @include mq(sm) {
        grid-gap: 0 60px;
    }

    img {
        cursor: pointer;
        max-width: 100%; 
    } 

    .icon-phonetalk {
        color: $black;
    }
}

.items {
    @include flex(null, null, flex-end);
    gap: 20px;

    button {
        padding: 10px 20px;
        font-size: 22px;
        border: none;
        border-radius: 4px;
    }

    .menu {
    background-color: $primary--background;

    &:hover {
        background-color: $primary--background__darkest;
    }
}
}

.phone {
    font-size: 26px;
    background-color: transparent;

    &:hover {
        text-decoration: underline;
    }
}

.contact, .btn-search {
    background-color: $button--grey;

    &:hover {
        background-color: $button--grey__dark;
    }
}

.search {
    display: flex;

    &-1 {
        input {
            padding-left: 10px;
            border: 1px solid $lightgrey;
        }

        button {
            padding: 10px 20px 5px;
            font-size: 25px;
            border-radius: 0 4px 4px 0;
            

            @include mq(md) {
                border-radius: 4px;
            }

            @include mq(lg) {
                border-radius: 0 4px 4px 0;
            }
        }
    }

    &-2 {
        grid-column: 1 / -1;
        border: 2px solid $lightgrey;
        border-radius: 4px;
    
        input {
            @include size(100%, auto);
            padding-left: 10px;
            background-color: $lightergrey;
            border: none;
        }

        button {
            font-size: 16px;
            padding: 10px 10px;
            border: none;
            background-color: $lightergrey;
            cursor: pointer;
        }
    }
} 

.support, .contact, .search-1 {
    display: none;
}

@include mq(sm) {
    .search-1 {
        display: flex;
    }

    .search-2, .phone {
        display: none;
    }
}

@include mq(md) {
    .support, .contact {
        display: block;
    }

    .hidden-m {
        display: none;
    }
}

@include mq(lg) {
    .hidden-m {
        display: block;
    }
}