//BLACK FADED FILTER

@include mq(md) {
  .hero::before {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(
        to right,
        #000 20%,       
        transparent 50%,  
        transparent 100%    
      );
      z-index: 2;
    } 
}

//MAIN CONTAINER

.hero {
    @include flex(null, center, null, null);
    @include size(100vw, 550px);
    position: relative;
}

//IMAGE

.hero img {
    @include size(100%, 100%);
    position: absolute;
    object-fit: cover;
    filter: brightness(50%);

    @include mq(md) {
      filter: none;
    }
  }

//TEXT AND BUTTON ON IMAGE

.hero__txt {
    color: $white;
    text-align: center;
    z-index: 2;
    line-height: 1.2;

    @include mq(md) {
        @include flex(null, flex-start, null, null);
        text-align: left;
    }
    

    h1 {
        @include font(40px, 600);
        color: $white;

        @media (min-width: 992px) {
            font-size: 4rem;
            margin: 10px 0;
        }    
    }

    h2 {
        @include font(20px, 600);
        padding-bottom: 30px;

        @media (min-width: 992px) {
            @include size(750px, auto);
            font-size: px-to-rem(26);
        }
    }
}

.hero__btn {
    font-size: 1.25rem;
    padding: 20px;
}