//BLACK FADED FILTER

@include mq(md) {
  .hero::before {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(
        to right,
        $black 0,         
        transparent 85%    
      );
      z-index: 2;
    } 
}

//MAIN CONTAINER
.hero {
    width: 100%;
    position: relative;
    overflow: hidden;

    .slick {
        @include flex(row, center, center);
        width: 100% !important;
        height: 100%;

        .slide {
            @include flex(column, center, center);
            @include size(100%, 550px);
            position: relative;
        }
    }
}

//IMAGE

.hero img {
    @include size(100%, 100%);
    position: absolute;
    object-fit: cover;
    filter: brightness(50%);
    

    @include mq(md) {
      filter: none;
    }
}

//TEXT AND BUTTON ON IMAGE

.hero__txt {
    color: $white;
    text-align: center;
    z-index: 9;
    line-height: 1.2;

    @include mq(md) {
        @include flex(null, flex-start, null, null);
        text-align: left;
    }
    

    h1 {
        @include font(40px, 600);
        color: $white;

        @media (min-width: 992px) {
            font-size: 4rem;
            margin: 10px 0;
        }    
    }

    h2 {
        @include font(20px, 600);
        padding-bottom: 30px;

        @media (min-width: 992px) {
            @include size(750px, auto);
            font-size: px-to-rem(26);
        }
    }
}

.hero__btn {
    font-size: 1.25rem;
    padding: 20px;
}