//MAIN CONTAINER

.imageline {
    @include flex(null, center, null, null);
    margin-top: 40px;
    
    img {
        filter: grayscale(100%);
        margin: 60px 45px 40px;
        max-height: 80px;
        max-width: 200px;
        
        &:hover {
            filter: none;
        }
    }

} 

//IMAGE CONTAINER 

.image-card {
    @include flex(null, center, null, null);
    position: relative;
    @include size(auto, 180px);
}

//TEXT CARD

.hover-txt {
    display: grid;
    position: absolute;
    left: 50%;
    bottom: 80%;
    transform: translate(-50%, -50px);
    @include size(300px, auto); 
    background-color: $primary--background;
    color: $white;
    padding: 20px;
    text-align: center;
    opacity: 0;
    transition: 0.1s ease;
    font-size: px-to-rem(14);
    pointer-events: none;

    h2 {
        margin: 0;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -50px; //moves triangle below box
        left: 50%;
        transform: translateX(-50%) rotate(180deg);
        border-style: solid;
        border-color: transparent transparent #333645 transparent;
        border-width: 0 40px 50px 40px;
    }
    
}

.image-card:hover .hover-txt {
    opacity: 1;
    pointer-events: auto;
}

b {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}