.image {
    display: flex;
    align-items: center;
    
    img {
        filter: grayscale(100%);
        
        padding: 40px;
        cursor: pointer;
        
        &:hover {
            filter: none;
        }
    }

} 

.image-card {
    display: flex;
    position: relative;
    align-items: center;
    height: 200px;
    overflow: visible;
    
}

.hover-txt {
    display: grid;
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, -50px);
    width: 300px; // moves box
    background-color: #333645;
    color: white;
    padding: 20px;
    text-align: center;
    align-items: end;
    opacity: 0;
    transition: 0.1s ease;
    font-size: 14px;
    pointer-events: none;

    h2 {
        margin: 0;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -50px; //moves triangle below box
        left: 50%;
        transform: translateX(-50%) rotate(180deg);
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent transparent #333645 transparent;
        border-width: 0 40px 50px 40px;
    }
    
}

.image-card:hover .hover-txt {
    opacity: 1;
    pointer-events: auto;
}

b {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}
