nav {
    display: none;  //change to flex when necessary
    justify-content: center;
    width: 100vw;
    background-color: #333645;
    text-transform: uppercase;

    @media (min-width:992px) {
        display: flex;
    }
}
        

.navbar {
    padding: 10px 0;
    position: static;
    width: calc(100% / 7);
    height: 100%;

    &::after {
        position: relative;
    }

    i {
        font-size: 24px;
    }

    a {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #fff;
        text-decoration: none;
        padding: 10px 15px;
        border-radius: 4px;
        font-size: 18px;
        align-items: center;
        
    }
}



/* Dropdown Menu */


/* Show dropdown on hover */
.navbar:hover .dropdown {
    display: grid;
}

.dropdown::before {
    content: '';
    position: relative;
    transform: translateX(-50%) rotate(180deg);
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 70px 30px 70px;
    z-index: 3;

    @media (min-width: 1260px) {
        border-width: 0 89.25px 30px 89.25px;
    }
}

.dropdown {
    display: none;
    position: absolute;
    top: 220px;
    left: 0;
    z-index: 3;
    width: 100%;
    padding: 20px 10px;

    @media (min-width: 1260px) {
        top: 210px;
    }

    a {
        align-items: center;
        color: white;
        padding: 10px 0;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        width: 300px;

        @media (min-width: 1260px) {
            width: 400px;
        }

        span {
            padding: 10px;
        }
    }

    span:hover {
        text-decoration: underline;
    }
}
