//MAIN CONTAINER

nav {
    display: none;  
    width: 100%;
    background-color: $primary--background;
    text-transform: uppercase;

    @include mq(md) {
        display: flex;
    }
}
        
//NAVBAR

.navbar {
    @include size(calc(100% / 7), 100%);

    i {
        font-size: 1.5rem;
    }

    a {
        @include flex(column, center, null, null);
        @include size(100%, 100%);
        text-align: center;
        padding: 20px 15px;
        font-size: px-to-rem(18);
    }

}

// Show dropdown on hover

.navbar:hover {
    
    .dropdown {
        display: grid;
    }

    .triangle {
        position: relative;

            &::after {
            content: '';
            position: absolute;
            transform: translateX(-50%);
            @include size(0, 0);
            border-style: solid;
            border-width: 38px 70.14px 0 70.14px;
            z-index: 10;
            top: 119px;
            left: 70px;

            @include mq(lg) {
                border-width: 38px 89.28px 0 89.28px;
                top: 101px;
                left: 90px;
            }
        }
    }
}

// DROPDOWN STYLES

.dropdown {
    @include size(100%, auto);
    display: none;
    position: absolute;
    top: 243px;
    left: 0;
    z-index: 3;
    padding: 20px 10px 40px;

    @include mq(lg) {
        top: 225px;
    }

    a {
        padding: 10px 0;
        flex-direction: row;
        min-width: 300px;
        text-align: left;

        span {
            padding: 10px;
        }
    }

    span:hover {
        text-decoration: underline;
    }
}