.news-txt {
    position: relative;
    margin-bottom: 30px;
}

.news-txt:hover {
    transform: translateY(-10px);
    transition: transform .5s ease;
}

.content {
    @include flex(column, null, null, null);
    border: 1px solid $lightgrey;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.07);
    padding: 30px;
    @include size(null, 350px);

    h3 {
        margin: 0;
        font-size: 16px;
    }

    p {
        font-size: 13px;
    }

    &-insights{
        h3 {
            color: $primary--grey;
        }
    }

    &-careers {
        h3 {
            color: $primary--blue;
        }
    }
}

.news-author {
    @include flex(null, center, null, null);
    border-top: 1px solid $lightgrey;
    padding-top: 20px;
}

.avatar {
    padding-right: 20px;
}

.details p {
    margin: 5px;
}

.btn__news {
    width: fit-content;
    @include spacing(10px 15px, auto 0 20px);
}

.tag {
    position: absolute;
    right: 0;
    top: 2%;
    color: $white;
    font-size: .75rem;
    padding: 0 10px;
    line-height: 1.5rem;
    text-transform: uppercase;
    border-radius: 2px 0 0 2px;
   
    &-insights {
        background-color: $primary--grey;
    }

    &-careers {
        background-color: $primary--blue;
    }
}

@include mq(sm) {
    .news--hidden {
        display: none;
    }
}

@include mq(lg) {
    .news--hidden {
        display: flex;
    }
}