//BACKGROUND CONTAINER
.about {
    background-color: $primary--background;
    color: $white;
    padding-top: 40px;
}


//MAIN TEXT
.welcome {
    @include flex(column);
    
    @include mq(md) {
        @include size(455px);
    }

    @include mq(lg) {
        @include size(600px);
    }

    h2 {
        @include font(2.25rem, 600);
        margin: 0;
    }

    p {
        @include font(1rem, null, 1.9); 
        margin: 12px 0; 
    }

    .buttons {
        @include flex(row, null, null, wrap);
        border-radius: 4px;
        gap: 10px;
        margin: 20px 0 40px 0;
        white-space: nowrap;
        
        a  {
            @include font(1.25rem, 500);
            padding: 15px 30px;
        }
    }

    &-link {
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
}

figure {
    margin: 0;
    padding-bottom: 20px;
}

blockquote {
    margin: 20px 0;
    font-style: italic;
    
    .quote {
        @include font(21px, 600, 1.5);
    }
}

figcaption {
    font-size: px-to-rem(18);
    
    a {
        font-weight: 600;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

strong {
    color: #a3a8ac;
    font-weight: 600;
}

//BUTTONS

.culture {
    background-color: $primary--background__dark;

    &:hover {
        background-color: $primary--background__darkest;
    }
}

.trustpilot {
    background-color: $trustpilot;

    &:hover {
        background-color: $trustpilot__dark;
    }
}