.about {
    background-color: #323544;
    color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding-top: 40px;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    max-width: 720px;

    h2 {
        font-size: 36px;
        font-weight: 600;
        margin: 0;
    }

    p {
        font-size: 16px;
        line-height: 1.9;  
        margin: 12px 0; 
    }

    .buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-radius: 4px;
        gap: 10px;
        margin: 20px 0 40px 0;
        white-space: nowrap;
        
        a  {
            text-decoration: none;
            text-transform: uppercase;
            margin-bottom: 10px;
            padding: 10px 30px;
            border-radius: 4px;
            font-size: 20px;
            font-weight: 500;
            line-height: 35px;
        }
    }
}

figure {
    margin: 0;
    padding-bottom: 20px;
}

blockquote {
    margin: 20px 0;
    font-style: italic;
    
    .quote {
        font-size: 21px;
        line-height: 1.5;
    }
}

figcaption {
    font-size: 18px;
    font-weight: 600;
}

strong {
    color: #a3a8ac;
    font-weight: 600;
}

.culture {
    background-color: #272936;

    &:hover {
        background-color: #101218;
    }
}

.google {
    background-color: #4081d6;

    &:hover {
        background-color: #0464e2;
    }
}

.trustpilot {
    background-color: #00b67b;

    &:hover {
        background-color: #018a5e;
    }
}
