.about {
    background-color: $primary--background;
    color: $white;
    padding-top: 40px;
}

.welcome {
    @include flex(column);
    
    @include mq(md) {
        @include size(455px);
    }

    @include mq(lg) {
        @include size(600px);
    }

    h2 {
        font-size: 36px;
        font-weight: 600;
        margin: 0;
    }

    p {
        font-size: 16px;
        line-height: 1.9;  
        margin: 12px 0; 
    }

    .buttons {
        @include flex(row, null, null, wrap);
        border-radius: 4px;
        gap: 10px;
        margin: 20px 0 40px 0;
        white-space: nowrap;
        
        a  {
            padding: 15px 30px;
            font-size: 20px;
            font-weight: 500;
        }
    }

    &-link {
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
}

figure {
    margin: 0;
    padding-bottom: 20px;
}

blockquote {
    margin: 20px 0;
    font-style: italic;
    
    .quote {
        font-size: 21px;
        line-height: 1.5;
        font-weight: 600;
    }
}

figcaption {
    font-size: 18px;
    
    a {
        font-weight: 600;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

strong {
    color: #a3a8ac;
    font-weight: 600;
}

.culture {
    background-color: $primary--background__dark;

    &:hover {
        background-color: $primary--background__darkest;
    }
}

.trustpilot {
    background-color: $trustpilot;

    &:hover {
        background-color: $trustpilot__dark;
    }
}