span {
    font-size: 1.1rem;
    padding: 15px;
    color:#fff;
    border-radius: 3px; 
    text-align: left;
}

.btn {
    text-transform: uppercase;
    
        &-1 {
            background-color: #4081d6;
        }
    }