span {
    font-size: 1.1rem;
    padding: 15px;
    color:#fff;
    border-radius: 3px;
    text-transform: uppercase;

    .btn {

        &-1 {
            background-color: #4081d6;
        }
    }
}