.social-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    max-width: 240px;

    @media (min-width: 480px) {
        max-width: 400px;
    }
    
    button {
        background: #212330;
        border: none;
        cursor: pointer;
        margin: 0 5px 10px 5px;
        padding: 15px 40px;
        @media (min-width: 480px) {
            padding: 15px 20px;
        }
        
        
        .icon {
            font-size: 30px;
            color: #fff;
        }
    }
}

.icon-footer {
    &-facebook:hover {
        background-color: #3a5594;
    }
    &-linkedin:hover {
        background-color: #0075b0;
    }
    &-instagram:hover {
        background-color: #d90d7d;
    }
    &-x:hover {
        background-color: #0fb9f7;
    }
}


